@model IEnumerable<Race>

<style>
    div.block {
        display: inline-block;
        padding: 25px;
        margin: 15px;
    }

        div.block:hover {
            margin: 5px;
            padding: 35px;
        }
</style>

@foreach (var race in Model) {
    <div class="block">
        <p>Category: @race.RaceCategory</p>
        <p>Address: @race.Address</p>
        <p>Desc: @race.Description</p>
        @Html.Raw("<img style='width:380px; height:260px;' src=\"data:image/jpeg;base64,"
                + Convert.ToBase64String(race.Image) + "\" />")
        <div>
            <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Race" asp-action="Edit" asp-route-id="@race.Id">
                Edit
            </a>
            <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Race" asp-action="Delete" asp-route-id="@race.Id">
                Delete
            </a>
        </div>
    </div>
}