@model IEnumerable<Club>


<style>
    div.block {
        display: inline-block;
        padding: 25px;
        margin: 15px;
    }

    div.block:hover {
        margin: 5px;
        padding: 35px;
    }
</style>

@foreach (var club in Model) {
    <div class="block">
        <p>Category: @club.ClubCategory</p>
        <p>Address: @club.Address</p>
        <p>Desc: @club.Description</p>
        @Html.Raw("<img style='width:380px; height:260px;' src=\"data:image/jpeg;base64,"
                    + Convert.ToBase64String(club.Image) + "\" />")
        <div>
            <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Club" asp-action="Edit" asp-route-id="@club.Id">
                Edit
            </a>
            <a type="button" class="btn btn-sm btn-outline-danger" asp-controller="Club" asp-action="Delete" asp-route-id="@club.Id">
                Delete
            </a>
        </div>
    </div>
}
