@page

@model _01_Base.Pages.PostRequestModel

@*
<h2>@Model.Message</h2>
<form method="post">
    <input type="text" name="username" />
    <input type="submit" value="Отправить" />
</form>
*@

@*
@functions {
    public string Message { get; private set; } = "";
    public void OnGet() => Message = "Введите свое имя";
    public void OnPost(string username) => Message = $"Ваше имя: {username}";
}
*@

@*
<h2>@Model.Message</h2>
<form method="post">
    <p>
        <label>Имя:</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Возраст:</label><br />
        <input type="number" name="age" />
    </p>
    <input type="submit" value="Отправить" />
</form>
*@

<h2>Введите данные</h2>
<form method="post">
    <p>
        Person1 Name:<br />
        <input name="people[0].name" /><br />
        Person1 Age:<br />
        <input name="people[0].age" />
    </p>
    <p>
        Person2 Name:<br />
        <input name="people[1].name" /><br />
        Person2 Age:<br />
        <input name="people[1].age" />
    </p>
    <input type="submit" value="Отправить" />
</form>
<h3>Список сотрудников</h3>

<ul>
    @foreach (var person in People) {
        <li>@person.Name (@person.Age)</li>
    }
</ul>

@functions {
    Person[] People { get; set; } = { };

    public void OnPost(Person[] people) => People = people;

    public record class Person(string Name, int Age);
}

@* Получение данных из контекста запроса 
<h2>@Message</h2>
<form method="post">
    <p>
        <label>Имя:</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Возраст:</label><br />
        <input type="number" name="age" />
    </p>
    <input type="submit" value="Отправить" />
</form>

@functions {
    string Message { get; set; } = "";
    public void OnPost() {
        string? name = Request.Form["name"];
        string? age = Request.Form["age"];
        Message = $"Ваше имя: {name}. Ваш возраст: {age}";
    }
}
*@